{
    "parser": "babel-eslint",
    "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
    "env": {
        
        "es6": true
    },
    "plugins": ["json", "prettier", "react-hooks","react"], 
    "rules": {
        "no-unused-vars": 0,
        "react/prop-types": 0,
        "react/unused-vars": 0
        
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "rules": {
           
           
            "react-hooks/rules-of-hooks": "error", 
            "react-hooks/exhaustive-deps": "warn" 
        },
        "settings": {
            "import/resolver": "meteor"
        },
        "globals": {
           
        }
    }
}