.fileContainer:hover:after {
  content: attr(data-hover);
  color: #333;
  position: absolute;
  margin-top: 7px;
  height: auto;
  text-align: center;
  transform: translate(0, 50%);
  width: 100px;
  background: rgb(107, 172, 184);
  border-radius: 2px;
  padding: 0 5px;
}
