.fileShortName {
}
.fileLongName {
  position: absolute;
  margin-top: 30px;
  width: 20% !important;
}
.fileContainer {
}
.fileContainer:hover:after {
  content: attr(data-hover);
  position: absolute;
  margin-top: 60px;
  height: 100px;
  text-align: center;
  width: 120px;
  padding: 5px;
}
